<launch>
  <arg name="sim" default="true"/>

  <group unless="$(arg sim)">
    <include file="$(find freenect_launch)/launch/freenect.launch" >
      <arg name="num_worker_threads" value="1"/>
      <!--<arg name="" value=""/>-->
    </include>
  </group>

  <group if="$(arg sim)">
    <arg name="debug" default="true" />
    <arg name="gui" default="true" />
    <arg name="pause" default="false" />
    <arg name="world" default="$(find kinova_arm_moveit_demo)/world/empty_world.world" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world)" />
      <arg name="debug" value="$(arg debug)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="paused" value="$(arg pause)" />
      <arg name="use_sim_time" value="true" />
      <arg name="verbose" value="true "/>
    </include>

    <param name="camera_description" command="$(find xacro)/xacro.py $(find kinova_arm_moveit_demo)/urdf/fakeBot.urdf" />
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
    <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param camera_description -model fakeBot -x $(arg x) -y $(arg y) -z $(arg z)" />

    <include file="$(find j2n6s300_moveit_config)/launch/j2n6s300_virtual_robot_demo.launch">
    </include>
    <!--                                                                       x y z y p r -->
    <node pkg="tf" type="static_transform_publisher" name="depth_cam_tf" args="0 0 0 0 0 0 j2n6s300_link_4 camera_depth_optical_frame 100" />
  </group>

</launch>
